body > div > div > div,
.matrix-cell {
  height: 60px;
  width: 60px;
  background: #676766;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 22pt;
  font-family: Arial;
}

body > div > div,
.matrix-row {
  display: flex;
  gap: 4px;
}

#matrix-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.l {
  height: 40px;
  display: flex;
  background: darkgray;
  align-items: center;
  width: 20px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  justify-content: center;
  padding: 0 4px;
}

.l:active {
  background: #676766;
}

.kb {
  margin-top: 54px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial;
}
